.bg-hear{
    position: relative;
}
#logoQueen{
    font-family: 'Caprasimo', cursive;
}
#home{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
}
.nv-1{
    /*margin-left: 30px;*/

}
.head-nav a:hover {
    box-shadow: 0 1px black;
}
.head-nav a{
    text-decoration: none;
    padding: 4px;
    color: black;
    transition: box-shadow 0.3s;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}